/* Ensure the root element and body take up full height */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* Ensures the body fills the screen */
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
  /* Ensures React root element fills the screen */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card Styles */
.card {
  padding: 2em;
}

/* Links for Documentation */
.read-the-docs {
  color: #888;
}

/* Full-Screen Layout Fix */
.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures full viewport height */
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
}

/* Ensures footer stays at the bottom */
footer {
  margin-top: auto;
  /* Ensures footer stays at the bottom */
}